# Ignore node_modules directory as it should be installed within the Docker container
node_modules
./node_modules

# Ignore local environment configuration files
.env
.env.example
local.dev.credentials.txt

# Ignore logs
log.txt

# Ignore REDAME.md file
REDAME.md

# Ignore Docker-related files
Dockerfile
.dockerignore
docker-compose.yml

# Ignore the git repository and other version control files
.git
.gitignore

# Ignore editor-specific files and folders
.vscode

# Ignore build artifacts
dist
build

# Ignore npm debug log
npm-debug.log
yarn-error.log
.pnpm-debug.log
