# Environment
NODE_ENV = "development"

# Port
PORT = 3000

# MongoDB URL
MONGO_DB_URL = {//PASTE MONGODB CONNECTION URL HERE}

# Redis URL
REDIS_DB_URL = {//PASTE REDIS CONNECTION URL HERE}

# Allowed App Tokens
APP_NAME_1 = KEY_appToken_xyz123_1
APP_NAME_2 = KEY_appToken_xyz123_2
APP_NAME_3 = KEY_appToken_xyz123_3
APP_NAME_4 = KEY_appToken_xyz123_4
APP_NAME_5 = KEY_appToken_xyz123_5

KEY_appToken_xyz123_1 = APP_NAME_1
KEY_appToken_xyz123_2 = APP_NAME_2
KEY_appToken_xyz123_3 = APP_NAME_3
KEY_appToken_xyz123_4 = APP_NAME_4
KEY_appToken_xyz123_5 = APP_NAME_5

# Example: App_1
sso_consumer = KEY_WEMrm1j06ECrQ0NLGROXF6p2lxYy
KEY_WEMrm1j06ECrQ0NLGROXF6p2lxYy = sso_consumer


# Google Auth Creds
Google_Client_ID = {//PASTE CLIENT ID HERE FROM OF YOUR GOOGLE DEVELOPER CONSOLE ACCOUNT}
Google_Client_Secret = {//PASTE CLIENT SECRET TOKEN OF YOU GOOGLE DEVELOPER CONSOLE ACCOUNT}

# Refresh Token Secret
REFRESH_TOKEN_SECRET = {//PASTE YOUR JWT REFRESH TOKEN}